html{
  scroll-behavior: smooth;
}

//即対応可能なメンター部分//

.title-contents {
  width: 100%;
  margin: 0 auto 50px auto;
  overflow: hidden;
  display: flex;
  background-color: #ffe000;
  height: 600px;
}

.service-title {
  font-size: 4vh;
  min-width: 310px;
  padding-top: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(transparent 78%, #F8BBD0 95%);
  position: absolute;
}

.possible-mentors {
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.exp-mentor {
 width: 200px;
 height: 220px;
 background-color: #AEFFBD;
 font-size: 120%;
 position: relative;
 bottom: 50px;
 right: 2px;
}

.exp-mentor-text {
  height: 10px;
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  white-space: nowrap;
  position: relative;
  left: 9px;
}

.person-image {
  height: 190px;
  position: relative;
  top: 10px;
  right: 20px;
}

.exp-mentor-description {
  position: relative;
  top: 120px;
  right: 190px;
  font-size: 2vh;
  font-weight: bold;
  white-space: nowrap;
}

// .google-btn {
//   width: 100%;
//   height: 60vh;
// }


//あなたの「分からない」を今すぐ解決できるプラットフォーム部分//


.select-reason-contents {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.select-reason-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
  left: 20%;
  bottom: 50px;
}

.select-reason-contents>.title::after {
  content: '';
  width: 838px;
  height: 4px;
  background-color: #f89174;
  position: absolute;
  top: 46px;
  left: 2%;

}

.exp-lists {
 height: 500px;
 width: 500%;
 background-color:white;
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: relative;
 right: 70px;
}

.exp-list-text {
 width: 210px;
 height: 200px;
}

.exp-list-blue-text {
  font-size: 2.8vh;
  position: relative;
  bottom: 190px;
  background-color: #ffe000;
  color: black;
  right: 125px;
}

.exp-list-description {
  height: 80px;
  width: 120%;
  display: flex;
  justify-content: space-around;
  position: relative;
  right: 20px;
  top: 30px;
}

.hito-image {
  position: relative;
  left: 30px;
  height: 190px;
}

//メンターチケットについて//




.ticket-contents {
  height: 100%;
  background-color: #ffe000;
  
}

.ticket-title {
  display: flex;
  justify-content: center;
  font-size: 4vh;
  background: linear-gradient(transparent 80%, #F8BBD0 90%);
  padding-top: 75px;
  display: inline-block;
}

.exp-ticket {
  display: flex;
  justify-content: center;
  font-size: large;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #fff;
  background: #ff4f02;
  border-top: solid 6px #ffe000;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.deal-ticket {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ticket-sub {
  height: 40%;
  background: linear-gradient(transparent 60%, #F8BBD0 95%);
}

.exp-caution-ticket {
  border: solid 2px #ff4f02;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 0 5px;
  width: 430px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  color: #ff4f02;
  font-size: 19px;
  font-weight: bold;
  background: #ffcc75;
  border-radius: 50%;
  box-sizing: border-box;
  justify-content: center;
}

.select-ticket-contents {
}

.buy-tickets {
  display: flex;
  height: 300px;
  width: 88%;
  justify-content: space-around;
  align-items: center;
}

.ticket {

}

.detail-ticket {
 position: absolute;
}


@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

@import "https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap";

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 58%;
}


.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-coupon {
  font-size: 1.8rem;
  line-height: 1.2;
  padding: 7rem 3rem;

  color: #fa4141;
  border-radius: 0;
  background: #fff;
}

a.btn-coupon i {
  font-size: 1.6rem;
  position: absolute;
  width: 1rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  text-align: right;
  background: #fa4141;
}

a.btn-coupon i.fa-position-top {
  top: -1em;
  left: 1rem;
}

a.btn-coupon i.fa-position-bottom {
  right: 1rem;
  bottom: -1em;
  left: auto;
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

a.btn-coupon span {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-style: italic;
}



//メンター一覧//

.select-mentor-hyoji {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 2750px;
  line-height: 1.7;
}

.title-t {
  font-size: 4vh;
  background: linear-gradient(transparent 75%, #F8BBD0 90%);
  padding-top: 25px;
  position: absolute;
}

.htmlcss-mentor {
  color: #333;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "pkna";
  font-family: Ropa Sans,-apple-system,Helvetica Neue,Arial,hiragino kaku gothic pron,sans-serif;
  letter-spacing: .01em;
  font-size: 16px;
  word-break: break-all;
  width: 95%;
  position: relative;
  top: 10%;
}

.htmlcss-lists {
  margin-bottom: 5%;
}

.detail-list-mentor {
  border: solid 1px blue;
  position: relative;
  bottom: 50px;
  right: 5px;
  padding: 5%;
}

.exp-list-t-text {
  border: solid 1px red;
  position: relative;
  bottom: 58px;
  right: 58px;
}

.lang-image {
  border: solid 1px black;
  position: relative;
  right: 60px;
  bottom: 60px;
}





//新規登録画面////////////////////


body,
html {
  height: 100%;
  // background-color: gray;
}

body {
  padding-top: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
  line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 18px;
  color: #666;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  color: #CC66FF;
}

.bold {
  font-weight: bold;
}

.serif,
div.contents.row div.content_post p {
  font-family: 'ほのか明朝', serif;
}

.ultra {
  font-size: 2em !important;
}

::selection {
  background: #D8D8D8;
}

.transition,
a,
form input[type="submit"] {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

div.contents.row h2 {
  margin: 20px 0;
  padding: 0;
  font-weight: normal;
  width: 10%;



  position: relative;
  left:510px;
}

div.contents.row .new_user {
  font-family: "游ゴシック", "YuGothic";
}

form input,
form textarea {
  width: 50%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";

  position: relative;
  left:280px;
}

form input[type="submit"] {
  background-color: #ff4f02;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

form input[type="submit"]:hover {
  background-color: #CC66FF;
}

.container {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}

