<header class="top-page-header">
    <div class="main-header">
      <div class="main-logo">
          <%= link_to image_tag("help_we.png", class:"helpwe-icon"), root_path %>
      </div>
      <div class='nav'>
        <ul class='right-lists'>
            <li><%= link_to 'メンター', root_path, class: "mentor-list" %></li>
            <li><%= link_to 'チケット', root_path, class: "ticket-list" %></li>
        </ul>
      </div>

      

        <div class='left-lists'>
            <%= link_to 'ログイン', new_user_session_path, class: "login" %>
        </div>
        
          <div class="cupon-present">
            今なら無料登録で<br>「メンターチケット１枚」プレゼント！
          </div>
    </div>
</header>